body {
    height: 100%;
    padding: 0 20px;
    background: #09161c;
}

.logo {
    border-radius: 20%;
}

.container h1 {
    display: flex;
    justify-content: center;
    color: rgb(171, 168, 168);
}

.content {
    display: flex;

}

.content p {
    color: rgb(171, 168, 168);
    padding: 15px;
}

.games {
    background: black;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
}

.games-sites {
    display: flex;
    justify-content: space-around;

}

.name-games {
    color: rgb(171, 168, 168);
    display: flex;
    justify-content: center;
}